.result {
  list-style: none;
}

.alignment {
  font-family: monospace;
  padding: 1%;
  margin: 5px 0 10px 0;
  overflow: auto;
  word-wrap: normal;
  white-space: pre;
  margin-left: 10px;
  margin-bottom: 0;
  //font-size: smaller;
  line-height: 1.42857143;
  color: #333;
  word-break: break-all;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  text-align: left;
  text-indent: 0;
  box-sizing: border-box;
}

.alignment-table {
  font-size: small;
}

.alignment-collapsed {
  display: none;
}

.facetValue {
  white-space: nowrap;
}

.sequence {
  word-wrap: break-word;
  white-space: pre-wrap;
  max-height: 10em;
  overflow-y: auto;
}