rnacentralDatabases {
  -moz-column-count: 3;
  -moz-column-gap: 20px;
  -webkit-column-count: 3;
  -webkit-column-gap: 20px;
  column-count: 3;
  column-gap: 20px;
  list-style: none;
}

.databases-collapsed {
  display: none;
}
