/* spin class, similar to font-awesome */
@-moz-keyframes spin {
  to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  to { transform:rotate(360deg); }
}

.spin {
  display: inline-block; /* won't work with inline elements, either block or inline-block */
  animation: spin 2000ms linear infinite;
}

.facet {
  overflow: auto;
  max-height: 20em;
  margin-bottom: 1em;
}

// div with sequence examples
#examples ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

#examples ul li {
  display: inline;
  padding-right: 10px;
}

// styling the input type=“file” button
input[type="file"] {
  display: none;
}

.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}