/* spin class, similar to font-awesome */
@-moz-keyframes spin {
  to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  to { transform:rotate(360deg); }
}

.spin {
  display: inline-block; /* won't work with inline elements, either block or inline-block */
  animation: spin 2000ms linear infinite;
}

.facet {
  overflow: auto;
  max-height: 20em;
  margin-bottom: 1em;
}

#powered-by {
  float: right;
  font-family: Verdana, sans-serif;
  font-size: 85%
}